.chatbox-container {
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

button {
    border: none;
}

.chatbox-header {
    background-color: rgb(111, 105, 216);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.leave-room-button {
    width: 90px;
    height: 26px;
    color: rgb(128, 128, 245);
    background-color: rgb(230, 223, 243);
}

.chatbox-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 300px;
}

.chatbox-sidebar-container {
    background-color: rgb(128, 128, 245);
    height: 100%;
    color: white;
    padding: 15px;
    min-width: 0;
}

.chatbox-sidebar h3 {
    font-size: 1rem;
    font-weight: lighter;
}

.chatbox {
    background-color: aliceblue;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.message-box {
    display: inline-block;
    padding: 7px;
    max-width: 300px;
    border-radius: 15px;
    margin: 0 10px 1px 10px;
}

.chatbox-input-container {
    background-color: rgb(111, 105, 216);
    padding: 15px;
    display: flex;
}

.chatbox-container input {
    width: 100%;
}

.send-button {
    height: 100%;
    width: 70px;
    color: rgb(128, 128, 245);
    background-color: rgb(230, 223, 243);
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo h1 {
    font-size: 1.5rem;
    padding: 0 5px 0 5px;
}

.room-name {
    padding: 10px;
    background-color: rgb(109, 109, 206);
    margin: 15px 10px 15px 10px;
    font-weight: lighter;
}

.user {
    margin-left: 30px;
    margin-top: 10px;
}

form {
    width: 100%;
    display: flex;
}