.login-header {
    background-color: rgb(111, 105, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login-header h1 {
    font-size: 1.5rem;
    padding: 0 5px 0 5px;
}

.login-input-container {
    background-color: rgb(128, 128, 245);
    display: flex;
    padding: 20px 30px 0 30px;
    height: 230px;
}

.login-form {
    display: inherit;
    flex-direction: column;
    width: 100%;
}

.login-form input {
    width: 100%;
    margin: 4px 0 15px 0;
}

.login-form button {
    padding: 3px;
    margin: 25px 0 0 0;
}

.login-container {
    margin-top: 50px;
    width: 400px;
    color: rgb(255, 255, 255);
}